USE [master]
GO
/****** Object:  Database [NhaSach2]    Script Date: 11/19/2024 11:32:42 PM ******/
CREATE DATABASE [NhaSach2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NhaSach2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.ANHHAO\MSSQL\DATA\NhaSach2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NhaSach2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.ANHHAO\MSSQL\DATA\NhaSach2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NhaSach2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NhaSach2]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 11/19/2024 11:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[TaiKhoan] [char](50) NULL,
	[MatKhau] [char](50) NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Admins] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookingInfo]    Script Date: 11/19/2024 11:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingInfo](
	[BookingID] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NULL,
	[RoomPackage] [nvarchar](50) NOT NULL,
	[Duration] [int] NOT NULL,
	[NumberOfParticipants] [int] NOT NULL,
	[BookingDate] [date] NOT NULL,
	[BookingTime] [time](7) NOT NULL,
	[Note] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[FullName] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[TotalPrice] [decimal](18, 2) NULL,
	[ConfirmationStatus] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDHs]    Script Date: 11/19/2024 11:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDHs](
	[MaDH] [int] NOT NULL,
	[MaSach] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[Gia] [decimal](18, 0) NULL,
	[TenSach] [nvarchar](255) NULL,
	[AnhBia] [nvarchar](255) NULL,
	[GiaBan] [decimal](18, 2) NULL,
	[Sale] [int] NULL,
 CONSTRAINT [PK_ChiTietDHs] PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC,
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHangs]    Script Date: 11/19/2024 11:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHangs](
	[MaDH] [int] IDENTITY(1,1) NOT NULL,
	[NgayDat] [datetime] NULL,
	[NgayGiao] [datetime] NULL,
	[MaKH] [int] NULL,
	[TongTien] [int] NOT NULL,
	[MaGiamGia] [int] NULL,
	[TrangThai] [nvarchar](50) NULL,
	[MaGiamGiaId] [int] NULL,
 CONSTRAINT [PK_DonHangs] PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHs]    Script Date: 11/19/2024 11:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHs](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[TaiKhoan] [nvarchar](50) NULL,
	[MatKhau] [varchar](50) NULL,
	[Email] [varchar](100) NULL,
	[DiaChi] [nvarchar](500) NULL,
	[DienThoai] [varchar](11) NULL,
	[NgaySinh] [datetime] NULL,
 CONSTRAINT [PK_KHs] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaGiamGias]    Script Date: 11/19/2024 11:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaGiamGias](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ma] [nvarchar](50) NULL,
	[giam] [decimal](5, 2) NULL,
 CONSTRAINT [PK_MaGiamGias] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NXBs]    Script Date: 11/19/2024 11:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NXBs](
	[MaNXB] [int] IDENTITY(1,1) NOT NULL,
	[TenNXB] [nvarchar](50) NULL,
 CONSTRAINT [PK_NXBs] PRIMARY KEY CLUSTERED 
(
	[MaNXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Saches]    Script Date: 11/19/2024 11:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Saches](
	[MaSach] [int] IDENTITY(1,1) NOT NULL,
	[TenSach] [nvarchar](100) NULL,
	[Gia] [decimal](18, 0) NULL,
	[KichThuoc] [varchar](20) NULL,
	[MoTa] [nvarchar](max) NULL,
	[AnhBia] [nvarchar](50) NULL,
	[NamXB] [int] NULL,
	[SoLuongTon] [int] NULL,
	[MaTL] [int] NULL,
	[MaTG] [int] NULL,
	[MaNXB] [int] NULL,
	[Sale] [int] NULL,
 CONSTRAINT [PK_Saches] PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TGs]    Script Date: 11/19/2024 11:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TGs](
	[MaTG] [int] IDENTITY(1,1) NOT NULL,
	[TenTG] [nvarchar](50) NULL,
 CONSTRAINT [PK_TGs] PRIMARY KEY CLUSTERED 
(
	[MaTG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TLs]    Script Date: 11/19/2024 11:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TLs](
	[MaTL] [int] IDENTITY(1,1) NOT NULL,
	[TenTL] [nvarchar](50) NULL,
 CONSTRAINT [PK_TLs] PRIMARY KEY CLUSTERED 
(
	[MaTL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([TaiKhoan], [MatKhau], [Id]) VALUES (N'admin                                             ', N'123                                               ', 3)
SET IDENTITY_INSERT [dbo].[Admins] OFF
GO
SET IDENTITY_INSERT [dbo].[BookingInfo] ON 

INSERT [dbo].[BookingInfo] ([BookingID], [MaKH], [RoomPackage], [Duration], [NumberOfParticipants], [BookingDate], [BookingTime], [Note], [PhoneNumber], [FullName], [Email], [TotalPrice], [ConfirmationStatus]) VALUES (20, 2, N'Private Zone', 3, 4, CAST(N'2025-01-28' AS Date), CAST(N'17:00:00' AS Time), N'Set up bàn gần nhau', N'0931874084', N'AnhHao', N'hao123@gmail', CAST(50000.00 AS Decimal(18, 2)), N'Đã xác nhận')
INSERT [dbo].[BookingInfo] ([BookingID], [MaKH], [RoomPackage], [Duration], [NumberOfParticipants], [BookingDate], [BookingTime], [Note], [PhoneNumber], [FullName], [Email], [TotalPrice], [ConfirmationStatus]) VALUES (21, 2, N'Meeting Room', 4, 8, CAST(N'2024-11-30' AS Date), CAST(N'17:00:00' AS Time), N'Set up thêm bàn nhỏ ', N'0931874084', N'AnhHao', N'hao123@gmail', CAST(300000.00 AS Decimal(18, 2)), N'Đã xác nhận')
INSERT [dbo].[BookingInfo] ([BookingID], [MaKH], [RoomPackage], [Duration], [NumberOfParticipants], [BookingDate], [BookingTime], [Note], [PhoneNumber], [FullName], [Email], [TotalPrice], [ConfirmationStatus]) VALUES (22, 2, N'Couple Room', 3, 4, CAST(N'2024-12-21' AS Date), CAST(N'09:30:00' AS Time), N'Không có', N'0931874084', N'AnhHao', N'hao123@gmail', CAST(65000.00 AS Decimal(18, 2)), N'Đã xác nhận')
SET IDENTITY_INSERT [dbo].[BookingInfo] OFF
GO
INSERT [dbo].[ChiTietDHs] ([MaDH], [MaSach], [SoLuong], [Gia], [TenSach], [AnhBia], [GiaBan], [Sale]) VALUES (2, 27, 1, CAST(45500 AS Decimal(18, 0)), NULL, NULL, NULL, NULL)
INSERT [dbo].[ChiTietDHs] ([MaDH], [MaSach], [SoLuong], [Gia], [TenSach], [AnhBia], [GiaBan], [Sale]) VALUES (3, 23, 1, CAST(688000 AS Decimal(18, 0)), NULL, NULL, NULL, NULL)
INSERT [dbo].[ChiTietDHs] ([MaDH], [MaSach], [SoLuong], [Gia], [TenSach], [AnhBia], [GiaBan], [Sale]) VALUES (3, 28, 1, CAST(46000 AS Decimal(18, 0)), NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[DonHangs] ON 

INSERT [dbo].[DonHangs] ([MaDH], [NgayDat], [NgayGiao], [MaKH], [TongTien], [MaGiamGia], [TrangThai], [MaGiamGiaId]) VALUES (2, CAST(N'2023-11-17T12:22:30.707' AS DateTime), CAST(N'2024-11-17T23:14:00.000' AS DateTime), 2, 43225, NULL, N'Đã giao', NULL)
INSERT [dbo].[DonHangs] ([MaDH], [NgayDat], [NgayGiao], [MaKH], [TongTien], [MaGiamGia], [TrangThai], [MaGiamGiaId]) VALUES (3, CAST(N'2024-11-18T00:03:50.073' AS DateTime), CAST(N'2025-01-16T00:07:00.000' AS DateTime), 2, 754900, NULL, N'Bị hủy', NULL)
INSERT [dbo].[DonHangs] ([MaDH], [NgayDat], [NgayGiao], [MaKH], [TongTien], [MaGiamGia], [TrangThai], [MaGiamGiaId]) VALUES (4, CAST(N'2024-10-18T00:10:10.743' AS DateTime), CAST(N'2024-11-19T19:08:00.000' AS DateTime), 4, 3520220, NULL, N'Đã giao', NULL)
SET IDENTITY_INSERT [dbo].[DonHangs] OFF
GO
SET IDENTITY_INSERT [dbo].[KHs] ON 

INSERT [dbo].[KHs] ([MaKH], [HoTen], [TaiKhoan], [MatKhau], [Email], [DiaChi], [DienThoai], [NgaySinh]) VALUES (2, N'AnhHao', N'AnhHao', N'123', N'hao123@gmail', N'Hoc Mon', N'0931874084', CAST(N'2004-10-09T00:00:00.000' AS DateTime))
INSERT [dbo].[KHs] ([MaKH], [HoTen], [TaiKhoan], [MatKhau], [Email], [DiaChi], [DienThoai], [NgaySinh]) VALUES (3, N'thuytien duong', N'thuytienduong05@gmail.com', N'GeneratedRandomPassword', N'thuytienduong05@gmail.com', NULL, NULL, NULL)
INSERT [dbo].[KHs] ([MaKH], [HoTen], [TaiKhoan], [MatKhau], [Email], [DiaChi], [DienThoai], [NgaySinh]) VALUES (4, N'Nguyễn Ngọc Anh Hào', N'anhhao.tony@gmail.com', N'GeneratedRandomPassword', N'anhhao.tony@gmail.com', N'Ngô Gia Tự P2 Q10', N'0931874084', CAST(N'2004-10-09T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[KHs] OFF
GO
SET IDENTITY_INSERT [dbo].[NXBs] ON 

INSERT [dbo].[NXBs] ([MaNXB], [TenNXB]) VALUES (1, N'NXB Giáo Dục Việt Nam')
SET IDENTITY_INSERT [dbo].[NXBs] OFF
GO
SET IDENTITY_INSERT [dbo].[Saches] ON 

INSERT [dbo].[Saches] ([MaSach], [TenSach], [Gia], [KichThuoc], [MoTa], [AnhBia], [NamXB], [SoLuongTon], [MaTL], [MaTG], [MaNXB], [Sale]) VALUES (21, N'Bản di chúc đoạt mạng', CAST(89000 AS Decimal(18, 0)), NULL, NULL, N'919f2ea749d78c60c9026f13e493-master.png', 2021, 6, 2, 1, 1, 2)
INSERT [dbo].[Saches] ([MaSach], [TenSach], [Gia], [KichThuoc], [MoTa], [AnhBia], [NamXB], [SoLuongTon], [MaTL], [MaTG], [MaNXB], [Sale]) VALUES (22, N'Bách khoa khủng long ', CAST(122000 AS Decimal(18, 0)), NULL, N'Đây là cuốn sách không thể thiếu dành cho những người yêu khủng long – một tài liệu hướng dẫn nhận diện 355 loài khủng long và động vật cùng thời, do chuyên gia chấp bút, và được minh họa theo kiến thức khoa học mới nhất.
', N'827c14ea48f3acfcddef3230532c-master.png', 2020, 3, 2, 1, 1, 2)
INSERT [dbo].[Saches] ([MaSach], [TenSach], [Gia], [KichThuoc], [MoTa], [AnhBia], [NamXB], [SoLuongTon], [MaTL], [MaTG], [MaNXB], [Sale]) VALUES (23, N'Ấn bản giới hạn Luật im lặng', CAST(688000 AS Decimal(18, 0)), NULL, NULL, N'827c14ea48f3acfcddef3230532c-master (1).png', 2010, 12, 2, 1, 1, 2)
SET IDENTITY_INSERT [dbo].[Saches] OFF
GO
SET IDENTITY_INSERT [dbo].[TGs] ON 

INSERT [dbo].[TGs] ([MaTG], [TenTG]) VALUES (1, N'Bộ Giáo Dục Và Đào Tạo')
SET IDENTITY_INSERT [dbo].[TGs] OFF
GO
SET IDENTITY_INSERT [dbo].[TLs] ON 

INSERT [dbo].[TLs] ([MaTL], [TenTL]) VALUES (1, N'Sách giáo khoa')
INSERT [dbo].[TLs] ([MaTL], [TenTL]) VALUES (2, N'Bán chạy')
INSERT [dbo].[TLs] ([MaTL], [TenTL]) VALUES (3, N'Sách thiếu nhi')
SET IDENTITY_INSERT [dbo].[TLs] OFF
GO
/****** Object:  Index [IX_FK_ChiTietDH_Sach1]    Script Date: 11/19/2024 11:32:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_FK_ChiTietDH_Sach1] ON [dbo].[ChiTietDHs]
(
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_DonHang_KH]    Script Date: 11/19/2024 11:32:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_FK_DonHang_KH] ON [dbo].[DonHangs]
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_Sach_NXB1]    Script Date: 11/19/2024 11:32:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_FK_Sach_NXB1] ON [dbo].[Saches]
(
	[MaNXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_Sach_TG1]    Script Date: 11/19/2024 11:32:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_FK_Sach_TG1] ON [dbo].[Saches]
(
	[MaTG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_Sach_TL1]    Script Date: 11/19/2024 11:32:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_FK_Sach_TL1] ON [dbo].[Saches]
(
	[MaTL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BookingInfo]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHs] ([MaKH])
GO
ALTER TABLE [dbo].[ChiTietDHs]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDH_DonHang] FOREIGN KEY([MaDH])
REFERENCES [dbo].[DonHangs] ([MaDH])
GO
ALTER TABLE [dbo].[ChiTietDHs] CHECK CONSTRAINT [FK_ChiTietDH_DonHang]
GO
ALTER TABLE [dbo].[ChiTietDHs]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDH_Sach1] FOREIGN KEY([MaSach])
REFERENCES [dbo].[Saches] ([MaSach])
GO
ALTER TABLE [dbo].[ChiTietDHs] CHECK CONSTRAINT [FK_ChiTietDH_Sach1]
GO
ALTER TABLE [dbo].[DonHangs]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_KH] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHs] ([MaKH])
GO
ALTER TABLE [dbo].[DonHangs] CHECK CONSTRAINT [FK_DonHang_KH]
GO
ALTER TABLE [dbo].[DonHangs]  WITH CHECK ADD  CONSTRAINT [FK_DonHangs_MaGiamGias] FOREIGN KEY([MaGiamGiaId])
REFERENCES [dbo].[MaGiamGias] ([id])
GO
ALTER TABLE [dbo].[DonHangs] CHECK CONSTRAINT [FK_DonHangs_MaGiamGias]
GO
ALTER TABLE [dbo].[Saches]  WITH CHECK ADD  CONSTRAINT [FK_Sach_NXB1] FOREIGN KEY([MaNXB])
REFERENCES [dbo].[NXBs] ([MaNXB])
GO
ALTER TABLE [dbo].[Saches] CHECK CONSTRAINT [FK_Sach_NXB1]
GO
ALTER TABLE [dbo].[Saches]  WITH CHECK ADD  CONSTRAINT [FK_Sach_TG1] FOREIGN KEY([MaTG])
REFERENCES [dbo].[TGs] ([MaTG])
GO
ALTER TABLE [dbo].[Saches] CHECK CONSTRAINT [FK_Sach_TG1]
GO
ALTER TABLE [dbo].[Saches]  WITH CHECK ADD  CONSTRAINT [FK_Sach_TL1] FOREIGN KEY([MaTL])
REFERENCES [dbo].[TLs] ([MaTL])
GO
ALTER TABLE [dbo].[Saches] CHECK CONSTRAINT [FK_Sach_TL1]
GO
USE [master]
GO
